<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <!-- 컨버터 적용X (중괄호 1개) -->
    <li>${form.number}: <span th:text="${form.number}" ></span></li>
    <!-- 컨버터 적용O (중괄호 2개) -->
    <li>${{form.number}}: <span th:text="${{form.number}}" ></span></li>
    <!-- 컨버터 적용X (중괄호 1개) -->
    <li>${form.localDateTime}: <span th:text="${form.localDateTime}" ></span></li>
    <!-- 컨버터 적용O (중괄호 2개) -->
    <li>${{form.localDateTime}}: <span th:text="${{form.localDateTime}}" ></span></li>
</ul>

</body>
</html>